* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins",sans-serif;
}

main .content {
  height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/pexels-cottonbro-3998408.jpg");
}
